<% if (fontfaceStyles) { %>
<% if (fontSrc1 && embed.length) { %>
@font-face {
	font-family:"<%= fontBaseName %>";
	src:<%= fontSrc1 %>;
	font-weight:normal;
	font-style:normal;
}
<% } %>@font-face {
	font-family:"<%= fontBaseName %>";<% if (fontSrc1) { %>
	src:<%= fontSrc1 %>;<% }%>
	src:<%= fontSrc2 %>;
	font-weight:normal;
	font-style:normal;
}
<% } %>

%<%= baseClass %>{
	font-family:"<%= fontBaseName %>";
	/* there's much unused space around icon, need to make it larger, line-height prevents it moving down, vjs has 2 */
	font-size: 3em;
	line-height: 1;
}

/* Icons */
<% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
%<%= classPrefix %><%= glyphs[glyphIdx] %>{
	&::before{
		@extend %<%= baseClass %>;
		content: "<% if (addLigatures) { %><%= glyphs[glyphIdx] %><% } else { %>\<%= codepoints[glyphIdx] %><% } %>"
	}
}
<% } %>
